@import "../../assets/scss/styles.scss";

.ui.menu.global-navbar {
  height: 60px;
  border-radius: 0px;
  box-shadow: 0px 0px 25px -5px rgba(black, 0.1), 0px 4px 1px rgba(black, 0.1);
  border: none;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    color: black;
    font-size: 1.6rem;
    font-weight: 800;
    span {
      color: $main-color;
    }
  }
  a, div {
    font-weight: 700;
    color: rgba(darken($main-color, 70%), 1);
  }
  .nav-item, a .nav-item {
    margin: 5px;
    padding: 12px 22px;
    border-radius: 100px;
    background: rgba(black, 0.1);
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
    &.highlight {
      background: $main-color;
    }
    &:hover{
      opacity: 1;
      color: rgba(darken($main-color, 100%), 1);
    }
    &:active {
      transform: scale(0.97);
    }
  }
}