


.company-container {
  margin: 0 15vw;
  margin-top: 150px;
  .top-profile-container {
  
    .top-profile {
      display:flex;
      flex-direction:row;   
      justify-content: flex-start;
      .company-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        margin-left: 100px;
        .name-group {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 10px;
          justify-content:space-between;
          .edit-btn {
            margin:10px;
          }
          .company-name {
            font-size: 40px;
            font-weight: bold;
          }
        }
      }
    }
  }
  .intro-container {
    margin-top:80px;
    .one-liner {
      font-size:2rem;
    }
    .bullet-list {
      li {
        padding:5px;
      }

    }

  }
  .banner-img {
    margin-top: 100px;
    width: 100%;
    max-width: 1000px;
    height: 400px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  }
  .team-container {
    margin-top: 100px;
    .team-title {
      text-align:center;
      margin-bottom:70px;
      font-size:32px;
    }
    .team-group {
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      .exe {
        display: flex;
        flex-direction:column;
        justify-content:center;
        text-align: center;
        .executive {
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
          width:250px;
          height:250px;
          border-radius:50%;
        }
        .exe-title {
          font-size:30px;
          font-weight: bold;
          margin:30px 0px 15px 0px;
        }
        .exe-name {
          font-size:24px;
          margin:15px 0px;
        }
        .linkedin-logo {
          margin:15px 0px;
          width:50px;  
        }
      }
    }
  }
  
  .event-container {
    margin:100px 0px;
    .event-title {
      text-align:center;
      margin-bottom:70px;
      font-size:32px;
      font-weight:bold;
    }
    .event-group {
      display: flex;
      flex-direction: column;
      .event-add {
        background-color: #f0f0f0;
        padding:30px;
        border-radius: 20px;
        text-align: center;
        font-weight: bold;
        font-size:1.5rem;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        &:hover {
          background-color: darken(#f0f0f0, 5);
        }
      }
      .event {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin-bottom:20px;
      }
      .event-card {
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #f0f0f0;
        padding:30px;
        border-radius: 20px;
        align-items: center;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        &:hover {
          background-color: darken(#f0f0f0, 5);
        }
        .location {
          font-size:24px;
          font-weight:bold;
          min-width: 205px;
          margin-right:20px;
          .marker {
            width:30px;
            margin-top:-5px;
          }
        }
        .time {
          min-width: 140px;
          display: flex;
          flex-direction: row;
          margin-right:20px;
          .start-time {
            .day {
              font-size:50px;
              font-weight:bold;
              line-height: 50px;
              text-align:center;
            }
            .month {
              font-size:24px;
              font-weight:bold;
              text-align:center;
            }
          }
          .dash {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 0 10px;
          }
          .end-time {
            .day {
              font-size:40px;
              font-weight:bold;
              line-height: 50px;
              text-align:center;
            }
            .month {
              font-size:20px;
              font-weight:bold;
              text-align:center;
            }
          }
        }
        .event-name {
          font-size:20px;
          font-weight:bold;
          min-width: 155px;
          margin-right:20px;
        }
        .event-note {
          
        }

      }
      .delete-btn {
        position: relative;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}



#modal {
  .ui.dimmer.modals.visible.active {
    position: fixed;
    background-color: rgba(43,43,43,0.7);
    backdrop-filter: blur(6px) !important;
  }
  .ui.standard.modal.visible.active {
    margin: 20vh auto;
    overflow-y: scroll;
  }
  .team-modal {
    width: 600px;
    max-width: 600px !important;
    max-height:60vh;
  }
  .event-modal {
    width: 600px;
    max-width: 600px !important;
    max-height:60vh;
  }
}