$main-color: #54d1db;

.signup, .login, .candidate-form, .apply-confirm, .show-application{
  margin-top:15vh;
  margin-bottom: 15vh;
}

.confirm-text {
  padding:10px 0px 15px 0px;
}

.admin-dashboard {
  width:100%;
  padding: 100px 50px;
  @media screen and (max-width:580px){
    overflow:scroll ;
  }
}

.admin-dashboard td {
  max-width: 250px;
  word-wrap: break-word;
  
}


.company-container {
  margin-top: 150px;
  .company-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .company-name {
      font-size: 40px;
    }
  }
  
  .company-img {
    width: 200px;
  }
}

#modal {
  .content {
    
      
      .drop-zone {
        border: 2px solid wheat;
        border-style: dotted;
        width:100%;
        height: 100px;
        
      }
    }
  
}
