@import "../../../assets/scss/styles";

.component-details-component {
  margin-top: 50px;
  .top-profile-container {
    .session {
      text-align: center;
      .company-img {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        margin: auto;
      }
    }
    .company-info {
      div {
      }
      .companyNameEn {
        font-size: 3rem;
        padding-top: 30px;
        font-weight: 900;
      }
      .introduction {
        font-size: 1.6rem;
        opacity: 0.8;
        padding: 30px 0px 20px;
      }
      .info-link {
        padding: 15px 25px;
        background: rgba(black, 0.1);
        display: inline-block;
        margin: 5px;
        border-radius: 100px;
        color: black;
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: capitalize;
        &.highlight {
          font-weight: 600;
          background: $main-color;
          margin-bottom: 20px;
          i {
            margin-right: 5px;
          }
        }
        &:hover{
          opacity: 0.8;
        }
        &:active{
          transform: scale(0.97);
        }
      }
    }
  }
  .session-header {
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.2;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .key-points {
    margin-top: 50px;
    text-align: center;
    .key-point-item {
      padding: 10px 0px;
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 800;
    }
  }
  .banner-img {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    margin: auto;
  }
  .team-container {
    margin-top: 100px;
    .team-title {
      text-align:center;
      margin-bottom:70px;
      font-size:32px;
    }
    .team-group {
      .exe {
        text-align: center;
        .executive {
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
          width:250px;
          height:250px;
          border-radius:50%;
          margin: auto;
        }
        .info-link {
          padding: 15px 25px;
          background: rgba(black, 0.1);
          display: inline-block;
          margin: 5px;
          border-radius: 100px;
          color: black;
          cursor: pointer;
          font-size: 1.4rem;
          text-transform: capitalize;
          &.highlight {
            font-weight: 600;
            background: $main-color;
            margin-bottom: 20px;
            i {
              margin-right: 5px;
            }
          }
          &:hover{
            opacity: 0.8;
          }
          &:active{
            transform: scale(0.97);
          }
        }
        .exe-title {
          font-size:30px;
          font-weight: bold;
          margin:30px 0px 15px 0px;
        }
        .exe-name {
          font-size:24px;
          margin:15px 0px;
        }
        .linkedin-logo {
          margin:15px 0px;
          width:50px;
        }
      }
    }
  }

  .event-container {
    margin:100px 0px;
    .event-title {
      text-align:center;
      margin-bottom:70px;
      font-size:32px;
      font-weight:bold;
    }
    .event-group {
      display: flex;
      flex-direction: column;
      .event-add {
        background-color: #f0f0f0;
        padding:30px;
        border-radius: 20px;
        text-align: center;
        font-weight: bold;
        font-size:1.5rem;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        &:hover {
          background-color: darken(#f0f0f0, 5);
        }
      }
      .event {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin-bottom:20px;
      }
      .event-card {
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #f0f0f0;
        padding:30px;
        border-radius: 20px;
        align-items: center;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        &:hover {
          background-color: darken(#f0f0f0, 5);
        }
        .location {
          font-size:24px;
          font-weight:bold;
          min-width: 205px;
          margin-right:20px;
          .marker {
            width:30px;
            margin-top:-5px;
          }
        }
        .time {
          min-width: 140px;
          display: flex;
          flex-direction: row;
          margin-right:20px;
          .start-time {
            .day {
              font-size:50px;
              font-weight:bold;
              line-height: 50px;
              text-align:center;
            }
            .month {
              font-size:24px;
              font-weight:bold;
              text-align:center;
            }
          }
          .dash {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 0 10px;
          }
          .end-time {
            .day {
              font-size:40px;
              font-weight:bold;
              line-height: 50px;
              text-align:center;
            }
            .month {
              font-size:20px;
              font-weight:bold;
              text-align:center;
            }
          }
        }
        .event-name {
          font-size:20px;
          font-weight:bold;
          min-width: 155px;
          margin-right:20px;
        }
        .event-note {

        }

      }
      .delete-btn {
        position: relative;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}



#modal {
  .ui.dimmer.modals.visible.active {
    position: fixed;
    background-color: rgba(43,43,43,0.7);
    backdrop-filter: blur(6px) !important;
  }
  .ui.standard.modal.visible.active {
    margin: 20vh auto;
    overflow-y: scroll;
  }
  .team-modal {
    width: 600px;
    max-width: 600px !important;
    max-height:60vh;
  }
  .event-modal {
    width: 600px;
    max-width: 600px !important;
    max-height:60vh;
  }
}